PORT=3001
NODE_ENV=production
JWT_SECRET=sangkiplaimportantkey
ARCJET_KEY=
SECRET_KEY=

DB_HOST=sql8.freesqldatabase.com
DB_PORT=3306
DB_NAME=sql8834346
DB_USERNAME=sql8834346
DB_PASSWORD=981EMSYxR5

CLOUDINARY_CLOUD_NAME=vincentsang
CLOUDINARY_API_KEY=455286944547629
CLOUDINARY_API_SECRET=764okYVYwP9WOp5iXMKS7Oxbr7c
CLOUDINARY_UPLOAD_PRESET=monster

MPESA_PAYBILL=174379
MPESA_PASSKEY=bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919
MPESA_CONSUMER_KEY=IeUar7zIb7JPWnYIHwKO16hp4grSs1vKMk3t4AGRia4yKLAV
MPESA_CONSUMER_SECRET=wrQdXC5XiLDTf60xYE3WuBAwxfgT80YQCRndO7LebdTgrzr13NruZIgxQfaTMs1M

url=D:/Desktop/Apps/webs/football-monster/monsters-web/server/models/index.js
